.post__slug
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
   
}


.post__slug__container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
}

.post__title
{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 50px;
}

.post__img
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 50px;
}

.post__text
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 750px;
    margin-bottom: 30px;
}

.user__logo
{
   align-self: center;
    width: 40%;
    border-radius: 50%;

   
}

.news__text__details
{
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
    text-transform: uppercase;
    
}

.about__author
{
    display: flex;
    align-items: center;
    width: 600px;
    align-self: center;
    border-top: 1px solid darkgray;
    margin-top: 100px;
  
}

.user__info__news
{
    display: flex;
    width: 150px;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-bottom: 30px;
}

.user__news__username
{
    line-height: 50px;
    font-size: 20px;
    width: 60%;
    color: blue;
    font-weight: 600;
}

.author__image
{   
    padding-top: 20px;
    width: 30%;
}

.author__details
{
   
    width: 70%;
}


.author__details h3
{
    font-weight: 600;
}



.news__text__details:hover{
    cursor: pointer;
}

.user__category__set
{
 display: flex;
 align-self: center;
 text-align: center;
}

.user__category{
    margin-right: 10px;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
}

.social__medias
{
    align-self: center;
    align-items: center;
    display: flex;
}

.social__media__logos
{
        width: 20px;
        height: 20px;
        margin-right: 20px;
}

.social__media__logos:hover
{
    cursor: pointer;
}